input {
    margin: 2px;
    margin-bottom: .5rem;
    width: 90px;
}

button {
    margin-bottom: .5rem;
}

header {
    background-color: Maroon;
    padding: 1rem;
    text-align: center;
    margin-bottom: 2rem;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

table {
    border: solid 1px;
    border-collapse: collapse;
    margin-bottom: .5rem;
}

th {
    border: solid 1px;
    padding: 10px;
    background-color: rgb(209, 209, 209);
}

td {
    text-align: left;
}

h4 {
    margin: 0;
}

body, h2 {
    margin: 0;
}

main {
    width: 80%;
    margin: auto;
}

.table-head {
    padding: 1 rem;
}